<app-toolbar titulo="Detalhes do livro"></app-toolbar>

<div class="container">
  <ion-content [@fadePage] class="ion-padding" *ngIf="livro">
    <ion-card>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <img [src]="livro.volumeInfo.imageLinks?.thumbnail || 'assets/sem-capa.png'" alt="Capa do livro" />
        </ion-row>
      </ion-grid>
  
      <ion-card-header>
        <ion-card-title>{{ livro.volumeInfo.title }}</ion-card-title>
        <ion-card-subtitle>{{ livro.volumeInfo.authors?.join(', ') }}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <p><strong>Editora:</strong> {{ livro.volumeInfo.publisher || 'Não informado' }}</p>
        <p><strong>Publicado em:</strong> {{ livro.volumeInfo.publishedDate || 'Não informado' }}</p>
        <p><strong>Descrição:</strong></p>
        <p [innerHTML]="livro.volumeInfo.description || 'Sem descrição disponível.'"></p>
      </ion-card-content>
    </ion-card>
  
    <ion-button 
      color="primary" 
      [disabled]="jaNaEstante"
      (click)="adicionarLivro()">
      {{ jaNaEstante? 'Ja na estante' : 'Adicionar à estante' }}
    </ion-button>
  </ion-content>
</div>
