:host {
  display: block;
  padding-bottom: 64px;
}

.livro-card {
  padding-top: 16px;
}

.img-livro {
  width: 128px;
  height: 184px;
  object-fit: cover;
}

.texto-central {
  text-align: center;
  margin-top: 2rem;
  color: var(--ion-color-primary);
  font-style: italic;
}

.progresso-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.progresso-texto {
  font-size: 0.8rem;
  text-align: right;
  color: var(--ion-color-medium);
}
