<app-toolbar titulo="Metas de Leitura"></app-toolbar>

<ion-content class="ion-padding">
  <ion-button (click)="abrirModalCriarMeta()">Criar Nova Meta</ion-button>

  <ion-segment [(ngModel)]="filtro">
    <ion-segment-button value="ativas">
      <ion-label>Ativas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="concluidas">
      <ion-label>Concluídas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    
    <ion-item *ngFor="let meta of metasFiltradas()" lines="full">
      <ion-label>
        <h2>{{ meta.titulo }}</h2>
        <p>{{ meta.descricao }}</p>
        <p *ngIf="meta.tipo === 'paginas'">
          Páginas lidas: {{ meta.paginasLidas }}/{{ meta.objetivoPaginas }}
        </p>
        <p *ngIf="meta.tipo === 'livro'">
          Meta vinculada ao livro
        </p>
      </ion-label>

      <ion-buttons side="end">
        <ion-button color="primary" fill="clear" (click)="editarMeta(meta)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="deletarMeta(meta.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

  </ion-list>
</ion-content>
