/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */
:root {
  --ion-background-color: #F8F9FA;
  --ion-text-color: #1E1E1E;
  --ion-card-background: #FFF;
  --ion-border-radius: 12px;
  --ion-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Tema escuro ativado com classe "dark" no body */
body.dark {
  --ion-background-color : #121212;
  --ion-text-color: #FFF;
  --ion-card-background: #1E1E1E;
  --ion-toolbar-background: #1E1E1E;
  --ion-tab-bar-background: #1E1E1E;
}
