<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Estatísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [@fadePage] class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Total de livros</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ totalLivros }}</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Livros concluídos</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ livrosConcluidos }}</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total de páginas lidas</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ paginasLidas }}</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tempo estimado de leitura</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ tempoEstimado }} min</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Progresso médio</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ progressoMedio }}%</ion-card-content>
  </ion-card>
</ion-content>
