<app-toolbar titulo="Buscar Livro"></app-toolbar>

<ion-content [@fadePage] class="ion-padding">
  <div class="busca-input">
    <ion-input
      type="text"
      [(ngModel)]="termoBusca"
      (ionInput)="onInputChange(($event.target.value ?? '').toString())"
      placeholder="Buscar livros..."
      clearInput="true">
    </ion-input>
  </div>

  <ion-text color="medium" *ngIf="resultados.length === 0 && termoBusca">
    <p>Nenhum livro encontrado</p>
  </ion-text>

  <ion-list *ngIf="resultados.length > 0">
    <ion-item *ngFor="let livro of resultados" [routerLink]="['/detalhes-livro', livro.id]">
      <ion-thumbnail slot="start">
        <img [src]="livro.volumeInfo.imageLinks?.thumbnail || 'assets/sem-capa.png'" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ livro.volumeInfo.title }}</h2>
        <p>{{ livro.volumeInfo.authors?.join(', ') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
