<app-toolbar titulo="Home"></app-toolbar>

<ion-content [@fadePage] class="ion-padding">
  <div class="home-container">
    <ion-card class="welcome-card" [@fadeIn]>
      <ion-card-header>
        <ion-card-title>📚 Bem-vindo!</ion-card-title>
        <ion-card-subtitle>ao seu Diário de Leitura</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Pesquise livros, acompanhe suas leituras e registre seu progresso de forma simples e agradável.</p>

        <ion-grid>
          <ion-row class="ion-justify-content-center ion-padding-top" >
            <ion-col size="12" size-md="6">
              <ion-button expand="block" color="primary" routerLink="/busca">
                <ion-icon slot="start" name="search-outline"></ion-icon>
                Buscar livros
              </ion-button>
            </ion-col>

            <ion-col size="12" size-md="6">
              <ion-button expand="block" color="secondary" routerLink="/estante">
                <ion-icon slot="start" name="book-outline"></ion-icon>
                  Ver minha estante
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-md="6">
              <ion-button expand="block" color="tertiary" routerLink="/estatisticas">
                <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
                Estatísticas
              </ion-button>
            </ion-col>
            
            <ion-col size="12" size-md="6">
              <ion-button expand="block" color="success" routerLink="/conquistas">
                <ion-icon slot="start" name="trophy-outline"></ion-icon>
                Conquistas
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-md="6">
              <ion-button expand="block" color="warning" routerLink="/meta">
                <ion-icon slot="start" name="golf-outline"></ion-icon>
                Metas
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
