<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Diário de leitura</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h2>📚 Bem-vindo ao seu Diário de Leitura!</h2>
  <p>Pesquise livros, acompanhe suas leituras e registre seu progresso.</p>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-button color="primary" routerLink="/busca">
        Buscar livros
      </ion-button>
    
      <ion-button color="secondary" routerLink="/estante">
        Ver minha estante
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>