/* You can add global styles to this file, and also import other style files */
ion-card-title {
    color: var(--ion-text-color) !important;
}

ion-icon {
    color: var(--ion-icon-color);
}

ion-segment-button {
    color: var(--ion-segment-button);
}