<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle autoHide="true">
        <ion-item button (click)="navegarPara('/home')">Home</ion-item>
        <ion-item button (click)="navegarPara('/estante')">Estante</ion-item>
        <ion-item button (click)="navegarPara('/busca')">Buscar Livro</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
