ion-icon[name='home'] {
    color: #0054e9
}

ion-icon[name='perfil'] {
    color: #2f2f2f
}

ion-icon[name='book'] { 
    color: #6030ff
}

ion-icon[name='search'] { 
    color: #0163aa
}

ion-icon[name='stats-chart'] { 
    color: #fc4b08
}

ion-icon[name='trophy'] { 
    color: #2dd55b
}

ion-icon[name='golf'] {
    color: #FFC409;
}